# Maven build output
target/

# NetBeans project files 
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#  Compiled Java class files
* .class

#  Compiled jar files (keep snapshot jars)
* .jar
! *-SNAPSHOT.jar

# System files
.DS_Store
Thumbs.db
